<!DOCTYPE html>
<html>
    <head>
        <title>Weather app</title>
        <link rel="stylesheet" href="./css/style.css"/> <!-- static path for public folder is already set in app.js -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <body>
        <div class="main-content">
            <article class="widget">
                <form class="weatherLocation"><input class="inp" placeholder="Search For City..." type = "text"/><button id="inp"><i class='fas fa-search-location' style='font-size:24px'></i></button>
                </form>
                <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
                <div class="weatherInfo">
                    <div class="temperature"><span></span></div>
                    <div class="description">    
                        <div class="weatherCondition"></div>   
                        <div class="weatherICON"><i style='font-size:24px;padding-left:10px'></i></div>   
                        <div class="place"></div>
                    </div>
                </div>
                <div class="date"></div>
            </article>
        </div>
        <script src="./js/app.js"></script> <!-- absolute path -->
    </body>
</html>